.logo{
	position: absolute;
	width: auto;
	height: auto;
	top: 20px;
}

#menu-principal {
    background-color: #1413131a;
    padding: 10px;
	display: flex;
	justify-content: flex-end;

	& .menu {
		background: rgb(20 19 19 / 0%);
	}

}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
	background: rgb(20 19 19 / 0%);
}

.menu li {
    display: inline-block;
    margin-right: 20px;
}

.menu li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.menu li a:hover {
    text-decoration: underline;
}

